NEXT_PUBLIC_SUPABASE_URL=https://byazbrcbqszujnymtjli.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5YXpicmNicXN6dWpueW10amxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1MzY2NzUsImV4cCI6MjA3OTExMjY3NX0.aV7Eri5Dawmc4aAXZvhfkq5lO-XddoiDqLPbvjthCk0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5YXpicmNicXN6dWpueW10amxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzUzNjY3NSwiZXhwIjoyMDc5MTEyNjc1fQ.OKHPYPxVklrCkM9G9tsDfQhcv6duHTgBDJJxrnemJCg